$color:#00f;
$color:#f00 !default;
$attr:width;
$xx:xx;
body{
    // background: $color;
    /*aaaaa*/
    height:100px;
    // color:$color;
    #{$attr}:100px;
    // background:$color url(#{$xx}.jpg) 0 0 no-repeat;
    #div1{
        width: 200px;
        height:200px;
        background: #f00;
        padding:{
            top:50px;
            left:20px;
        };
        a{
            color:greenyellow;
            &:hover{
                color:#0dd;
            }
        }
    }


}

@mixin triangle {
    width:0px;
    height:0px;
    border:10px solid #000;
    border-color: transparent;
    border-top-color: #000;
}

.aa{
    @include triangle();
}

@mixin border($w:200px,$h:200px){
    width:$w;
    height:$h;
    border:5px solid #ccc;
    border-radius: 10px;
}
.bb{
    @include border();
    background: #f00;
}
.cc{
    @include border(100px,50px);
}

.dd{
    @extend .bb;

    color:#000;
}

%ff{
    width:100px;
    height:100px;
}

.gg{
    @extend %ff;
}
.h{
    @extend %ff;
    color:darken(#f00,10);
    height:floor(3.55)
}



























