*{
    margin: 0;
    padding: 0;
    touch-action: none;
}
.page-1{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0px;
    background: #083846;
}
.page-1 .img1{
    width:248px;
    position: absolute;
    left:50%;
    margin-left:-124px;
    top: 1%;
}
.page-1 .img2{
    width:185px;
    position: absolute;
    left:50%;
    margin-left:-92px;
    top: 62%;
}
.icon{
    width:25px;
    position: absolute;
    left:50%;
    margin-left:-12px;
    top:92%;
}
.hide{
    display: none;
}
/* page-2的样式开始 */
.page-2{
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    background: #9261BF;
}
.page-2 .img1{
    width: 158px;
    position: absolute;
    top: 2%;
    left: 50%;
    margin-left: -79px;
}
.img3{
    width:248px;
    position: absolute;
    left:50%;
    margin-left:-124px;
    top:8%;
}
.img2{
    width: 240px;
    position: absolute;
    top: 28%;
    left: 50%;
    margin-left: -120px;
}
.page-2 .img4{
    width: 241px;
    position: absolute;
    top: 36%;
    left: 50%;
    margin-left: -120px;

}


/* page-2的样式结束 */

.moveFromTop{
    animation: moveFromTop 0.6s ease forwards;
}
@keyframes moveFromTop{
    0%{
        /* transform:  translate(-50%,-100%); */
        transform:  translateY(-100%);
    }
}
.moveFromLeft {
    animation: moveFromLeft 0.6s ease forwards;
}

@keyframes moveFromLeft{
    0%{
        transform: translateX(-100%);
    }
}

.iconMove{
    animation: iconMove 1.2s ease infinite forwards;
}
@keyframes iconMove{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
    }
}

.moveFromBottom{
    animation: moveFromBottom 0.6s ease forwards;
}
@keyframes moveFromBottom{
    0%{
        transform:translateY(100%)
    }
}


.moveScale{
    animation: moveScale  0.6s ease forwards;
}
@keyframes moveScale{
    0%{
        transform: scale(0);
    }
}

.moveCircle{
    animation: moveCircle 1.2s ease forwards;
}
@keyframes moveCircle{
    0%{
        transform: translateY(-100%);
    }
    30%{
        transform: translateY(30%);
    }
    60%{
        transform: translateY(-20%);
    }
    70%{
        transform: translateY(-10%);
    }
    /* 80%{
        transform: translateY(-10%);
    } */

}

.moveToTop{
    animation: moveToTop 1s ease forwards;
}
@keyframes moveToTop{
    100%{
        transform: translateY(-100%);
    }
}

